*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #E7E7E7;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;

}

.nav ul {
  position: absolute;
  display: inline;
  width: 75%;
  padding: 0px 50px 0px 50px;
  margin-left: 500px;
  list-style-type: none;
}

li {
  float:left;
  padding: 60px 60px 0px 60px;
}

.column1 {
  position: relative;
  float: left;
  width: 25%;
  height: 75%;
  padding: 50px;
}

.column1 img {
  margin-left: 85px;
  margin-top: 100px;
}

.column2 {
  position: relative;
  float:left;
  width: 75%;
  padding: 25px;
  margin: 100px 0px 0px 0px;
}

#header {
  text-align: center;
}

h2 {
  font-size: 30px;
}

.ital {
  font-style: italic;
}

p {
  font-size: 18px;
}

h3 {
  text-align: center;
  font-size: 22px;
}

#gallery {
  width: 96%;
  max-width: inherit;
  margin: 0 auto;
}

#gallery img {
height: auto;
float: right;
width: 12%;
margin: 20px 14px 14px 14px;
}

.clearboth {
  clear: both;
}

#footer p {
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width:1299px) {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

    html {
      box-sizing: border-box;
      font-size: 62.5%;
      height: 100%;
      width: 100%;
    }

    body {
      height: 100%;
      width: 100%;
      background-color: #E7E7E7;
      font-size: 14px; font-size: 1.4rem;
    }

    h1   {
      font-size: 24px; font-size: 2.4rem;
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .nav ul {
      position: absolute;
      width: 75%;
      padding: 0rem 5rem 0rem 5rem;
      margin-top: 25%;
      margin-left: 8%;
      list-style-type: none;
    }

    li {
      padding: 2rem 0rem 2rem 0rem;
    }

    .column1 {
      position: relative;
      float: left;
      width: 25%;
      height: 80%;
      margin-top:3rem;
      padding: 5rem;
      border-style: dashed;
      border-width: thin;
      border-color: #000;
    }

    .column1 img {
      position: absolute;
      float: right;
      width: 100%
      margin-top: 10rem;
      margin-left: 8.2rem;
      border-style: dashed;
      border-width: thin;
      border-color: #000;
    }

    .column2 {
      position: relative;
      float:left;
      width: 75%;
      padding: 2.5rem;
      margin: 10rem 0rem 0rem 0rem;
      border-style: dashed;
      border-width: thin;
      border-color: #000;
    }

    #header {
      text-align: center;
    }

    h2 {
      font-size: 3rem;
    }

    .ital {
      font-style: italic;
    }

    p {
      font-size: 1.8rem;
    }

    h3 {
      text-align: center;
      font-size: 2.2rem;
    }

    #gallery img {
      height: auto;
      float: right;
      width: 26%;
      margin: 2rem 1.4rem 1.4rem 1.4rem;
    }

    .clearboth {
      clear: both;
    }

    #footer p {
      text-align: center;
      font-size: 1.4rem;
    }

    @media screen and (max-width:599px) {
      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
        width: 100%;
      }

      body {
        height: 100%;
        width: 100%;
        background-color: #E7E7E7;
        font-size: 14px; font-size: 1.4rem;
      }

      h1   {
        font-size: 24px; font-size: 2.4rem;
      }

      .container {
        position: relative;
        width: 100%;
      }

      .nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        border-style: dashed;
        border-width: thin;
        border-color: #000;
      }

      li {
       display: inline;
       padding: 0 .5em 0 .5em;

      }

      .column1 {
        width: 100%;
        height: 15%;
        border-style: dashed;
        border-width: thin;
        border-color: #000;
      }

      .column1 img {
        float:none;
        display: block;
        max-width: 100%
        margin: 0 auto 2em;
        width: 90%
        min-width: 200px;
        border-style: dashed;
        border-width: thin;
        border-color: #000;
      }

      .column2 {
        position: relative;
        width: 100%;
        padding: 2.5rem;
        margin: 10rem 0rem 0rem 0rem;
        border-style: dashed;
        border-width: thin;
        border-color: #000;
      }

      #header {
        text-align: center;
      }

      h2 {
        text-align: center;
        font-size: 3rem;
      }

      .ital {
        font-style: italic;
      }

      p {
        font-size: 1.8rem;
      }

      h3 {
        text-align: center;
        font-size: 2.2rem;
      }

      #gallery img {
        height: auto;
        float: right;
        width: 26%;
        margin: 2rem 1.4rem 1.4rem 1.4rem;
      }

      .clearboth {
        clear: both;
      }

      #footer p {
        text-align: center;
        font-size: 1.4rem;
      }

    }

    @media screen and (max-width:399px) {
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    html {
      box-sizing: border-box;
      font-size: 62.5%;
      height: 100%;
      width: 100%;
    }

    body {
      height: 100%;
      width: 100%;
      background-color: #E7E7E7;
      font-size: 14px; font-size: 1.4rem;
    }

    h1   {
      font-size: 24px; font-size: 2.4rem;
    }

    .container {
      position: relative;
      width: 100%;
    }

    .nav ul {
      width: 100%;
      height: 10%
      list-style-type: none;
      text-align: center;
      border-style: dashed;
      border-width: thin;
      border-color: #000;
    }

    li {
     display: inline;
     padding: 0 .5em 0 .5em;

    }

    .column1 {
      width: 100%;
      height: 15%;
      border-style: dashed;
      border-width: thin;
      border-color: #000;
    }

    .column1 img {
      float:none;
      display: block;
      max-width: 100%
      margin: 0 auto 2em;
      width: 90%
      min-width: 200px;
      border-style: dashed;
      border-width: thin;
      border-color: #000;
    }

    .column2 {
      position: relative;
      width: 100%;
      height: 70%;
      padding: 2.5rem;
      margin: 10rem 0rem 0rem 0rem;
      border-style: dashed;
      border-width: thin;
      border-color: #000;
    }

    #header {
      text-align: center;
    }

    h2 {
      text-align: center;
      font-size: 3rem;
    }

    .ital {
      font-style: italic;
    }

    p {
      font-size: 1.8rem;
    }

    h3 {
      text-align: center;
      font-size: 2.2rem;
    }

    #gallery img {
      height: auto;
      float: none;
      width: 44%;

    }

    .clearboth {
      clear: both;
    }

    #footer p {
      text-align: center;
      font-size: 1.4rem;
    }

  }
